n8n-workflows/video-social-posting.json
{
  "name": "Freelanly Video Social Posting v9",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 12}]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://freelanly.com/api/content/video-script?type=job-alert",
        "options": {}
      },
      "id": "get-script",
      "name": "Get Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://198.12.73.168:3123/api/short-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scenes: $json.scenes, config: $json.config }) }}",
        "options": {}
      },
      "id": "create-video",
      "name": "Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "retry",
              "name": "retryCount",
              "value": "0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "init-retry",
      "name": "Init Retry Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "wait-2min",
      "name": "Wait 2 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://198.12.73.168:3123/api/short-video/{{ $json.videoId }}/status",
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevVideoId = $('Init Retry Counter').item.json.videoId || $('Increment Retry').item?.json?.videoId;\nconst prevRetry = $('Init Retry Counter').item.json.retryCount ?? $('Increment Retry').item?.json?.retryCount ?? 0;\n\nreturn [{\n  json: {\n    status: input.status,\n    videoId: prevVideoId,\n    retryCount: prevRetry\n  }\n}];"
      },
      "id": "merge-status",
      "name": "Merge Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ready-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ready",
      "name": "Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://198.12.73.168:3123/api/short-video/{{ $json.videoId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "videoUrl",
              "value": "=http://198.12.73.168:3123/api/short-video/{{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "cap",
              "name": "caption",
              "value": "={{ $('Get Script').item.json.script.substring(0, 100) }} #remotework #remotejobs #hiring",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-post",
      "name": "Prepare Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-check",
              "leftValue": "={{ $json.retryCount }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-can-retry",
      "name": "Can Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "retry",
              "name": "retryCount",
              "value": "={{ $json.retryCount + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "increment-retry",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 50]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "Video generation timed out after 5 retries (10 min)",
              "type": "string"
            },
            {
              "id": "vid",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "retries",
              "name": "retries",
              "value": "={{ $json.retryCount }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-timeout",
      "name": "Handle Timeout",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 200]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [[{"node": "Get Script", "type": "main", "index": 0}]]
    },
    "Get Script": {
      "main": [[{"node": "Create Video", "type": "main", "index": 0}]]
    },
    "Create Video": {
      "main": [[{"node": "Init Retry Counter", "type": "main", "index": 0}]]
    },
    "Init Retry Counter": {
      "main": [[{"node": "Wait 2 min", "type": "main", "index": 0}]]
    },
    "Wait 2 min": {
      "main": [[{"node": "Check Status", "type": "main", "index": 0}]]
    },
    "Check Status": {
      "main": [[{"node": "Merge Status", "type": "main", "index": 0}]]
    },
    "Merge Status": {
      "main": [[{"node": "Ready?", "type": "main", "index": 0}]]
    },
    "Ready?": {
      "main": [
        [{"node": "Download Video", "type": "main", "index": 0}],
        [{"node": "Can Retry?", "type": "main", "index": 0}]
      ]
    },
    "Download Video": {
      "main": [[{"node": "Prepare Post", "type": "main", "index": 0}]]
    },
    "Can Retry?": {
      "main": [
        [{"node": "Increment Retry", "type": "main", "index": 0}],
        [{"node": "Handle Timeout", "type": "main", "index": 0}]
      ]
    },
    "Increment Retry": {
      "main": [[{"node": "Wait 2 min", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-30T21:00:00.000Z",
  "versionId": "9"
}
