n8n-workflows/video-social-posting.json
{
  "name": "Freelanly Video Social Posting v11",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://freelanly.com/api/content/video-script?type=job-alert",
        "options": {}
      },
      "id": "get-script",
      "name": "Get Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://198.12.73.168:3123/api/short-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scenes: $json.scenes, config: $json.config }) }}",
        "options": {}
      },
      "id": "create-video",
      "name": "Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "jobUrl",
              "name": "jobUrl",
              "value": "={{ $('Get Script').item.json.jobUrl }}",
              "type": "string"
            },
            {
              "id": "script",
              "name": "script",
              "value": "={{ $('Get Script').item.json.script }}",
              "type": "string"
            },
            {
              "id": "retry",
              "name": "retryCount",
              "value": "0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "init-retry",
      "name": "Init Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "wait-2min",
      "name": "Wait 2 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "=http://198.12.73.168:3123/api/short-video/{{ $json.videoId }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-status",
      "name": "Check Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const statusCode = $input.first().json.statusCode || 404;\nconst prev = $('Init Data').item.json;\nconst retryCount = $('Increment Retry').item?.json?.retryCount ?? prev.retryCount ?? 0;\n\nreturn [{\n  json: {\n    isReady: statusCode === 200,\n    videoId: prev.videoId,\n    jobUrl: prev.jobUrl,\n    script: prev.script,\n    retryCount: retryCount\n  }\n}];"
      },
      "id": "merge-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ready-check",
              "leftValue": "={{ $json.isReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ready",
      "name": "Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://198.12.73.168:3123/api/short-video/{{ $json.videoId }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -100]
    },
    {
      "parameters": {
        "chatId": "@PCFTI",
        "text": "={{ $('Check Status').item.json.script.replace('free-lan-lee dot com', 'freelanly.com').substring(0, 200) }}\n\n#remotework #remotejobs #hiring #wfh\n\nMore jobs: {{ $('Check Status').item.json.jobUrl }}",
        "additionalFields": {
          "appendAttribution": false
        },
        "operation": "sendVideo"
      },
      "id": "telegram-post",
      "name": "Post to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1980, -200],
      "credentials": {
        "telegramApi": {
          "id": "qayGIKed5OGXqNmB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "53520294",
        "text": "={{ $('Check Status').item.json.script.replace('free-lan-lee dot com', 'freelanly.com').substring(0, 250) }}\n\n#remotework #remotejobs #hiring\n\nApply here: {{ $('Check Status').item.json.jobUrl }}\n\nMore jobs at freelanly.com",
        "additionalFields": {}
      },
      "id": "linkedin-post",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1980, 0],
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "3B9YSIs4S4P9GPv5",
          "name": "LinkedIn Community Management account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-check",
              "leftValue": "={{ $json.retryCount }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-can-retry",
      "name": "Can Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "vid",
              "name": "videoId",
              "value": "={{ $json.videoId }}",
              "type": "string"
            },
            {
              "id": "jobUrl",
              "name": "jobUrl",
              "value": "={{ $json.jobUrl }}",
              "type": "string"
            },
            {
              "id": "script",
              "name": "script",
              "value": "={{ $json.script }}",
              "type": "string"
            },
            {
              "id": "retry",
              "name": "retryCount",
              "value": "={{ $json.retryCount + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "increment-retry",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "Video generation timed out after 10 retries (20 min)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "handle-timeout",
      "name": "Timeout Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1980, 250]
    },
    {
      "parameters": {},
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2200, -100]
    }
  ],
  "connections": {
    "Every 6 hours": {
      "main": [[{"node": "Get Script", "type": "main", "index": 0}]]
    },
    "Get Script": {
      "main": [[{"node": "Create Video", "type": "main", "index": 0}]]
    },
    "Create Video": {
      "main": [[{"node": "Init Data", "type": "main", "index": 0}]]
    },
    "Init Data": {
      "main": [[{"node": "Wait 2 min", "type": "main", "index": 0}]]
    },
    "Wait 2 min": {
      "main": [[{"node": "Check Video", "type": "main", "index": 0}]]
    },
    "Check Video": {
      "main": [[{"node": "Check Status", "type": "main", "index": 0}]]
    },
    "Check Status": {
      "main": [[{"node": "Ready?", "type": "main", "index": 0}]]
    },
    "Ready?": {
      "main": [
        [{"node": "Download Video", "type": "main", "index": 0}],
        [{"node": "Can Retry?", "type": "main", "index": 0}]
      ]
    },
    "Download Video": {
      "main": [
        [
          {"node": "Post to Telegram", "type": "main", "index": 0},
          {"node": "Post to LinkedIn", "type": "main", "index": 0}
        ]
      ]
    },
    "Post to Telegram": {
      "main": [[{"node": "Done", "type": "main", "index": 0}]]
    },
    "Can Retry?": {
      "main": [
        [{"node": "Increment Retry", "type": "main", "index": 0}],
        [{"node": "Timeout Error", "type": "main", "index": 0}]
      ]
    },
    "Increment Retry": {
      "main": [[{"node": "Wait 2 min", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-03T19:30:00.000Z",
  "versionId": "11"
}
